*
{
	margin: 0;
	padding: 0;
}

ul{
	
	background: #1a0000;
	border-radius: 30px;
	border: 5px dashed black;

	
}
ul li{

	color:#ffaf99;
	list-style: none;
	display: inline-block;
	margin-left: 45px;
	padding: 5px 30px;
	font-size: 20px;
	cursor: pointer;
	transition: 0.5s;
}
ul li:hover{
	color: #fff;
	}





.navbar input{
	width: 300px;
	height: 36px;
	border: 2px solid black;
	border-radius: 30px;
	padding-left: 13px;
}

